Repository StatCan/volume-cleaner, pull requests merged in 2025-07, with the labels that each got.

#104 refactor(testing): abstract out fake k8s client
  internal/kubernetes/job_test.go
  internal/kubernetes/labeller_test.go
  internal/kubernetes/retriever.go
  internal/kubernetes/retriever_test.go
  internal/kubernetes/watcher_test.go
  internal/structure/set_test.go
  internal/tests/client.go
Labels: test, refactoring

#107 refactor: moving non-shared components out of internal directory
  cmd/controller/main.go
  cmd/scheduler/main.go
  cmd/scheduler/main_test.go
  internal/kubernetes/finder.go
  internal/kubernetes/finder_test.go
  internal/tests/client_test.go
  internal/utils/email_test.go
  internal/utils/time.go
  internal/utils/time_test.go
Labels: test, refactoring

#111 fix: remove redundant rbac values
  manifests/rbac.yaml
Labels: refactoring

#112 feat(notif): Implement backfilling notification logic
  .github/workflows/ci.yaml
  cmd/controller/main.go
  cmd/scheduler/main.go
  internal/kubernetes/finder.go
  internal/kubernetes/finder_test.go
  internal/kubernetes/labeller_test.go
  internal/kubernetes/watcher.go
  internal/kubernetes/watcher_test.go
  internal/structure/configs.go
  manifests/controller/controller_config.yaml
  manifests/scheduler/scheduler_config.yaml
Labels: enhancement, controller, cronJob

#118 docs: add arch diagrams and a quickstart guide
  README.md
Labels: documentation

#133 feat: add storage class filter
  .github/workflows/ci.yaml
  .github/workflows/integration-tests.yaml
  cmd/controller/main.go
  internal/kubernetes/retriever.go
  internal/kubernetes/retriever_test.go
  internal/kubernetes/watcher.go
  internal/structure/configs.go
  manifests/controller/controller_config.yaml
Labels: enhancement, controller

#142 docs: add devops diagram to aid in contributor understanding
  README.md
Labels: documentation

#141 feat: add reset labels mode
  cmd/controller/main.go
  internal/kubernetes/watcher.go
  internal/kubernetes/watcher_test.go
  internal/structure/configs.go
  manifests/controller/controller_config.yaml
Labels: enhancement, controller, cronJob
